.form__group {
	font-size: 0;
	margin-bottom: $default-padding;
}
.form__group--toggler {
	.form__group__label {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 2px;
		margin-right: $default-padding / 2;
		cursor: pointer;
	}
}

.form__group__label {
	font-size: 1.3rem;
	color: #555;
	display: block;
	line-height: 1;
	margin-bottom: $default-padding / 2;
}

.form__group__input {
	font-size: $input-font-size;
	color: $input-font-color;
	display: block;
	width: 100%;
	border: 1px solid $input-border-color;
	border-radius: $input-border-radius;
	padding: $input-padding;
	height: $input-height;
	line-height: 1;
	box-sizing: border-box;
}