// Config
$data-table-titles-height: 4rem;
$data-table-values-height: 4.4rem;
$data-table-titles-border: 1px solid $border-color;



// Styles
.data-table {
	width: 100%;
	font-size: 1.4rem;

	td {
		vertical-align: middle;
	}
}
.data-table--fixed {
    table-layout: fixed;
}
.data-table--auto {
	width: auto;
}

.data-table__titles {
	font-weight: bold;
	border-bottom: $data-table-titles-border;

	//@include box-shadow($box-shadow);
}
.data-table__titles__title {
	font-size: 1em;
	height: $data-table-titles-height;
}

.data-table__values__value, .data-table__titles__title {
	padding: 0 $default-padding;
}

/*.data-table__values {
	&:nth-child(even) td {
		background-color: darken($card-background-color, 3%);
	}
}*/
.data-table__values__value {
	font-size: 1em;
	height: $data-table-values-height;
}
.data-table__values__value__link {
	font-weight: bold;
	font-size: 1.1em;
	line-height: $data-table-values-height / 1.8;
	display: inline-block;
	box-sizing: border-box;
	
	&::after {
		content: "";
		display: block;
		border-bottom: 1px solid $link-color;
		width: 0;
		height: 0;
		margin-bottom: -1px;
		@include transition(width $default-transition);
	}
	&:hover::after {
		width: 100%;
	}
}
.data-table__values--state-block .data-table__values__value {
	opacity: 0.4;

	&:last-child {
		padding-right: $data-table-values-height;
		position: relative;
		
		&::after {
			content: "";
			background-image: url($icons-path + "/invisible.svg");
			background-repeat: no-repeat;
			background-size: 1.8rem;
			background-position: center;
			width: 4rem;
			height: $data-table-values-height;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

.data-table__checkbox {
	width: $data-table-values-height;
	text-align: center;
	cursor: pointer;
}

// ========================
// Tree
// ========================
.data-table__tree-padding {
	color: lighten($font-color, 50%);
	vertical-align: top;
	font-size: 1.8rem;
}
.data-table__tree-padding--level-1 {
	&::after {
		content: "—";
		margin-right: $default-padding / 2;
	}
}
.data-table__tree-padding--level-2 {
	&::after {
		content: "——";
		margin-right: $default-padding / 2;
	}
}
.data-table__tree-padding--level-3 {
	&::after {
		content: "———";
		margin-right: $default-padding / 2;
	}
}
.data-table__tree-padding--level-4 {
	&::after {
		content: "————";
		margin-right: $default-padding / 2;
	}
}






.not-found {
	text-align: center;
	padding: $default-padding * 2;
}