/* ------------------------------------------
----------------- Checkbox ------------------
------------------------------------------ */
.checkbox {
	$size: 18px;
	$checker-size: 0.6;
	$border: 1px solid #CCC;
	$background: #FFF;
	
	overflow: hidden;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	line-height: $size;
	
	label:before {
		content: "";
		display: block;
		float: left;
		width: $size;
		height: $size;
		border: $border;
		background-color: $background;
		cursor: pointer;
		border-radius: $border-radius;
		
		@include border-box();
		@include transition(border 0.15s ease-in-out);
	}
	label:after {
		content: "";
		display: block;
		width: $size;
		height: $size;
		color: #555555;
		outline:0;
		font-family: FontAwesome;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		line-height: $size;
		font-size: $size * $checker-size;
		z-index: 1;
		
		@include transition(border 0.15s ease-in-out);
	}
	
	input[type="checkbox"] {
		opacity: 0;
		cursor: pointer;
		width: $size;
		height: $size;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
	
	input[type="checkbox"]:checked + label:after {
		content: "\f00c";
	}
	
	input[type="checkbox"]:disabled + label {
		opacity: 0.65;
	}
	
	input[type="checkbox"]:disabled + label:before {
		background-color: darken($background, 3%);
		cursor: not-allowed;
	}
	
	&.checkbox-circle label:before {
		border-radius: 50%;
	}
}



/* ------------------------------------------
------------------- Radio -------------------
------------------------------------------ */
.radio {
	$size: 18px;
	$checker-size: 8px;
	$border: 1px solid #CCC;
	$background: #FFF;
	
	overflow: hidden;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	line-height: $size;
	
	label:before {
		content: "";
		display: block;
		float: left;
		width: $size;
		height: $size;
		border: $border;
		background-color: $background;
		cursor: pointer;
		border-radius: 50%;
		
		@include border-box();
		@include transition(border 0.15s ease-in-out);
	}
	label:after {
		content: "";
		display: none;
		width: $checker-size;
		height: $checker-size;
		background: #555555;
    	border-radius: 50%;
		outline:0;
		position: absolute;
		top: ($size - $checker-size) / 2;
		left: ($size - $checker-size) / 2;
		text-align: center;
		z-index: 1;
		
		@include transition(border 0.15s ease-in-out);
	}
	
	input[type="radio"] {
		opacity: 0;
		cursor: pointer;
		width: $size;
		height: $size;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
	
	input[type="radio"]:checked + label:after {
		display: block;
	}
	
	input[type="radio"]:disabled + label {
		opacity: 0.65;
	}
	
	input[type="radio"]:disabled + label:before {
		background-color: darken($background, 3%);
		cursor: not-allowed;
	}
	
	&.radio-squere label:before {
		border-radius: 0;
	}
}